#theWords {
font-family: Verdana, Geneva, sans-serif;
font-size: 7vw;
letter-spacing: 0.1vw;
word-spacing: 0.1vw;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
text-align: center;
width: 90%;
}

#smallerWords {
font-family: Verdana, Geneva, sans-serif;
font-size: 4vw;
letter-spacing: 0.1vw;
word-spacing: 0.1vw;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
text-align: center;
width: 90%;
}
